<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uk.tsl.tid.devicelist"
    >
    <application
        android:allowBackup="true"
        >
        <activity android:name="com.uk.tsl.tid.DeviceListActivity"
             android:theme="@android:style/Theme.DeviceDefault.Light"
             android:configChanges="keyboardHidden|orientation"
             android:label="@string/select_reader">
        </activity>
    </application>

</manifest>
